.content-area
	max-width: 593px;
	margin: 0 auto;
	padding: 20px;
.form
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: left;
	align-content: center;

.text-field
	margin 0 10px 0 10px

.submission-button
	display: block;
	width: 100%