.content-area
	max-width: 593px;
	margin: 0 auto;
	padding: 20px;
	padding-top 0
.form
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: left;
	align-content: center;

.text-field
	margin 0 10px 0 10px
	font-size 20px !important
.select-field
	font-size 20px !important

.even
	flex: 1 1 0%

.submission-button 
	display: block
	width: 100%

.subheader
	color: rgba(0, 0, 0, 0.64);
	font-size: 16px;
	font-weight: 500;
	margin-top: 10px
	margin-bottom: -10px
	padding-left: 10px;
	display block
	width 100%

.results-area
	max-width: 593px;
	margin 0 auto
	margin-top 20px
	padding 20px